.project-details-container {
    .project-details-inner-container {
        padding-block: 2em;

        iframe {
            width: 100%;
            height: 80vh;
            border: none;
        }
    }
}
