// Colors
$clr1: #242424;
$clr2: #303030;
$clr3: #f1f1f1;
$clr4: #79c8c7;
$clr5: #929292;
$clr6: #7c7c7c;
$clr7: #979797;
$clr8: #797979;

// Breakpoints
$mobile-breakpoint: 480px;
$narrow-breakpoint: 850px;
$normal-breakpoint: 1200px;
